@import './vars.scss';
@import './mixins.scss';

.modal {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .modal_container {
        display: "flex";
        flex-direction: column;
        width: 50%;
        @include media-mobile{
            width: 86%;
        }
        min-height: 200px;
        border-radius: 10px;
        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.20);

        .modal_header {
            width: calc(100% -32);
            height: 50px;
            padding: 0px 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $primaryColor;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            .modal_title {
                color: #ffffff;
                font-weight: 500;
            }

            .modal_close {
                cursor: pointer;
                background: none;
                border: none;
                width: 20px;
                height: 20px;
                color: white;
                content: icon;
            }
        }

        .modal_content {
            width: calc(100% -32);
            min-height: 400px;
            background-color: #ffffff;
            padding: 16px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;

            .modal_bottom_content {
                width: 100%;
                display: flex;
                justify-content: center;

                button {
                    min-width: 80px;
                    height: 30px;
                    margin: 6px 12px;
                    cursor: pointer;
                }

                .submit {
                    border: none;
                    color: #ffffff;
                    background-color: $primaryColor;
                }

                .cancel {
                    background-color: transparent;
                    border: 1px solid $primaryColor;
                }
            }

        }
    }
}
.page-title {
    font-size: 26px;
    font-weight: 500;
    width: 100%;
    text-align: left;
    margin-left: 0px;
    line-height: 60px;


}

.horizontal-line {
    margin: 0px 0px 10px 0px;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    //box-shadow: 0px 0px 14px #000000;

}

select {
    height: 32px;
    padding: 0px 5px;
    border: 1px solid #cacaca;
    box-shadow: 0px 0px 4px 0px #00000015;

}

option {
    padding: 40px 0px;
}

.text_input {
    height: 26px;
    border: 1px solid #cacaca;
    border-radius: 2px;
    padding: 2px 8px;
    font-size: 14px;
    box-shadow: 0px 0px 4px 0px #00000015;
}

.button {
    height: 36px;
    min-width: 80px;
    border-radius: 4px;
    border: none;
    background-color: $primaryColor;
    color: $secondaryTextColor;
    //box-shadow: 0px 0px 4px 0px $primaryColor;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 0px 2px 1px $primaryColor;
}

// tab bar
.horizontal_tab {
    display: flex;
    justify-content: flex-start;

    @include media-mobile {
        width: 100px;
    }

    @include media-tab {
        width: 160px;
    }
}

.vertical_tab {
    @extend .horizontal_tab;
    flex-direction: column;
    width: 100%;
}

.tab_selected {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 36px;
    padding: 20px 20px 30px 20px;
    border: none;
    z-index: 100;
    background-color: transparent;
    color: $secondaryTextColor;
    outline: none;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #cccccc15;
    box-shadow: 0px -3px 12px 0px rgba(0, 0, 0, 0.15);


}

.tab_normal {
    @extend .tab_selected;
    background-color: transparent;
    color: $secondaryTextColor;
    border-bottom: 1px solid #cccccc15;
    border-radius: 0px;
    box-shadow: none;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(255,255,255, 0.3);
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(255,255,255, 0.3);
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    background-color: #ffbb00;
  }
  .yes{
      font-weight: bold;
      color: #ff0000;
  }
  .no{
    font-weight: bold;
    color: #106429;
}
  .place-order-btn{
      color: #ffffff;
      font-size: 12px;
      background-color: $primaryColor;
      margin: 0px 6px;
      border: none;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
  }
  
  