$primaryColor: #001529;
$secondaryColor: #043563;
$secondaryTextColor:#ffffff;
$buttonColor:#0475df;

$mediaquery-mobile: 460px;
$mediaquery-tab: 768px;
$mediaquery-desktop-sm: 992px;
$mediaquery-desktop-lg: 1600px;