$primaryColor: #06264d;
$secondaryColor: #0261d4;
$secondaryTextColor:#ffffff;
$buttonColor:#1890ff; 
$borderColor:#bebebe;

$mediaquery-mobile: 460px;
$mediaquery-tab: 768px;
$mediaquery-desktop-sm: 992px;
$mediaquery-desktop-lg: 1600px;
