@import '../../../styles/vars.scss';
@import '../../../styles/common.scss';


.module_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .column{
            width: 100%;
        }
        .ant-tabs-nav-container{
            display: flex;
        }
    }
    .content_container {
        //margin-top: 50px;
        width: 50%;
        @include media-mobile{
            width: 100%;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .sales{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            @include media-mobile{
               align-items: center;
            }
            padding-top: 20px;
        }
        button{
            border-color: #e76d0c #e15500 #e15500;
            color: #fff;
            text-shadow: rgba(0,0,0,.05) 0 1px 0;
            background-color: #ec7211;
            background-image: linear-gradient(180deg,#f67c1b 0,#e15500);
            //box-shadow: inset 0 1px 0 hsla(0,0%,100%,.2);
            width: 120px;
            height: 36px;
            font-weight: 600;
            border: none;;

        }
        button:disabled{
            opacity: 0.5;
            cursor: not-allowed;
        }
        .input{
            //height: 40px;
            //margin: 10px 0px;
            border: 1px solid $borderColor;
            padding: 2px 10px;
            border-radius: 4px;
        }
        .dropdown{
            height: 32px;
            @include media-mobile{
                height: 40px;
                width: 100%;
            }
            width: 100%;
            //margin-right: 20px;
        }
        .last{
            margin-right: 0px;
        }
        .inner-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 10px 0px;
            @include media-mobile{
                margin: 16px 0px;
            }
            input{
                height: 32px;
                @include media-mobile{
                    height: 40px;
                    width: 36%;
                }
                width: 40%;
                @include media-mobile{
                    width: 36%;
                }

            }
            .ant-select{
                width: 40%;
                @include media-mobile{
                    width: 36%;
                }
            }
            .ant-select-selection--single{
               width: 100%;
               height: 32px;
               @include media-mobile{
                    height: 40px;
                    width: 100%;
                }
               border: 1px solid $borderColor;
            
             }
             .ant-input-number{
                 width: 40%;
                 height: 32px;
                 @include media-mobile{
                    height: 40px;
                    width: 36%;
                }
                 margin-right: 20px;
                 border: 1px solid $borderColor;
                 
                 .ant-input-number-input{
                     width: 100%;
                     height: 32px;
                     @include media-mobile{
                        height: 40px;
            }
                 }
             }
             label{
                 display: inline-block;
                 width: 84px;
                 height: 32px;
                 @include media-mobile{
                    font-size: 16px;
                 }
                 text-align: left;
             }
        
        }
        .submit-container{
            width: 100%;
            padding: 50px 0px;
            display: flex;
            justify-content: center;
            button{
                font-weight: bold;
                @include media-mobile{
                     width: 60%;
                }
                width: 200px;
                height: 40px;
            }
        }
        .payback-label{
            margin: 10px 0px;
            font-weight: 16px;
            font-weight: bold;
        }
        .bottom{
            padding-top: 20px;
            justify-content: space-between;
        }
        .bill-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .button-container{
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            .bill{
                background-color: rgba($color: $buttonColor, $alpha: 0.065);
                border: 1px solid rgba($color: $primaryColor, $alpha: 0.4);
                border-radius: 0px;

                .bill-top-container{
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #e8e8e8;
                    border-bottom: none;
                    .name-address-container{
                        width: 100%;
                        label{
                            display: inline-block;
                            width: 100%;
                            text-align: center;
                            color: $primaryColor;
                        }
                        .name{
                            font-size: 32px;
                            font-weight: 600;
                        }
                    }
                    .bill-date-container{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            .ant-table-thead > tr > th{
                text-align: center;
                background-color: rgba($color: $buttonColor, $alpha: 1);
                color: #ffffff;

            }
            .ant-table-thead > tr:first-child > th:first-child{
                border-top-left-radius: 0px;

            }
            .ant-table-thead > tr:last-child > th:last-child{
                border-top-right-radius: 0px;

            }
            
            .total-container{
                padding: 0px 10px;
                height: 40px;
                border: 1px solid #e8e8e8;
                border-top: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                background-color: rgba($color: $buttonColor, $alpha: 1);
                color: #ffffff;
                .label{
                    padding-right: 50px;
                }
                .amount{
                    font-weight: bold;
                    text-align: center;
                }
            }
            .bottom-container{
                input{
                    border-top: none;
                    border-radius: 0px;
                    text-align: right;
                
                }
            }
            .submit-container{
                padding: 40px 0px;
                display: flex;
                justify-content: center;
                button{
                    font-weight: bold;
                    @include media-mobile{
                         width: 100%;
                    }
                    height: 40px;
                }
            }
    }
    }
    .pricelist-container{
        
        .ant-select {
            min-width: 150px !important;
            margin: 10px 20px 30px 20px;
            height: 26px;
            border: none;
            outline: none;
        }
    }
    
  
}
.row_container {
    width: 100%;
    padding: 20px 0px;
    .column_container{
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
    .sub_title{
        font-size: 20px;
        font-weight: 500;
        color: #222222;
        padding-bottom: 20px;
    }
}


// .ant-select-selection__placeholder{
//     top: 40%;
// }
// .ant-select-search__field__wrap{
//     height: 40px;
//     margin-top: 0px;
  
// }
// .ant-select-selection--single{
//     height: 40px;
// }
// .ant-select-combobox
// {
//     height: 40px !important;
// }
// .ant-input-number{
//     height: 40px;
//     margin: 0px 20px;
// }
