@import '../../styles/vars.scss';
@import '../../styles/common.scss';
@import '../../../node_modules/antd/dist/antd.css';

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/robotocondensed-regular-webfont.woff2'), url('../../assets/fonts/robotocondensed-regular-webfont.woff'), url('../../assets/fonts/RobotoCondensed-Regular.ttf');
}

.shell {
    display: flex;
    flex-direction: column;
    width: 100%;
    //height: 100vh;
    font-family: 'Roboto';
    .home_container{
        width: 100%;
       // height: 100%;
        //background-color: #ff00ff;
        background-image: url('../../assets/icons/slide.png');
        background-size: cover;
    }

    .content-transition {
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: ease;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease;
    }

    .header {
        width: 100%;
        height: 48px;

        @include media-mobile {
            height: 60px;
        }

        @include media-tab {
            height: 60px;
        }

        background-color: $primaryColor;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        z-index: 10000;

        .tab_container {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .tab_normal {
                font-size: 10px;
                font-weight: 500;
                width: 60px;
                border: none;
                outline: none;
                margin-right: 10px;
                font-weight: 600;
                border-bottom: none;
                background-color: transparent;
                color: #fff;
                border-radius: 0px;
                box-shadow: none;
                cursor: pointer;
            }

            .tab_selected {
                font-weight: 500;
                width: 60px;
                border: none;
                outline: none;
                margin-right: 10px;
                font-weight: 600;
                border-bottom: none;
                background-color: transparent;
                color: #ffbb00;
                text-align: center;
                padding: 0px;
                margin-bottom: 3px;
                padding-top: 10px;
                padding-bottom: 0px;
                border-bottom: 2px solid #ffbb00;
            }
        }

        .user_dropdown {
            margin-right: 16px;
            padding: 8px 0px;
            width: 180px;
            height: 42px;
            border-radius: 100em;
            display: flex;
            justify-content: flex-end;

            img {
                width: 32px;
                height: 32px;
                border-radius: 100em;
                cursor: pointer;
            }



            .ant-dropdown-menu-item {
                background-color: #ffbb00;
                height: 50px;
            }
        }

        .profile-dropdown {
            position: relative;
            margin: 0;
            padding: 4px 0;
            text-align: left;
            list-style-type: none;
            background-color: #ff00ff !important;
            background-clip: padding-box;
            border-radius: 4px;
            outline: none;
            -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

        }


        .dropdown-item-link {
            padding-left: 10px;
            height: 50px;
            font-size: 18px;
            font-weight: 500;

        }

    }


    .main_content {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding-top: 48px;

        .sidebar {
            @include media-tab {
                display: none;
            }

            @include media-mobile {
                display: none;
            }

            width: 16%;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $primaryColor;
            @extend .content-transition;


            .toggle_container {
                margin-right: -90%;
                z-index: 100;
                height: 40px;
                width: 10%;

                Button {
                    width: 36px;
                    height: 36px;
                    background-color: $primaryColor;
                    border: none;
                    color: #fff;
                    outline: 0;
                    cursor: pointer;

                    .icon {
                        font-size: 20px;
                    }
                }

            }

            .profile_icon {
                background-color: #ffffff;
                border-radius: 100em;
                width: 100px;
                min-height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 96px;
                    height: 96px;
                    border-radius: 100em;
                }
            }

            .profile_icon_collapsed {
                background-color: #cccccc;
                border-radius: 50%;
                width: 60px;
                min-height: 60px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100em;
                }
            }


            .horizontal-line {
                width: 80%;
                margin: 30px 10px 0px 10px;
                border: 0.5px solid #cccccc;
                opacity: 0.1;
            }


            .sidebar_content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                padding-top: 10px;

                .menu_items_container {
                    height: 100%;
                    width: 100%;
                    overflow-y: auto;


                    .ant-menu-dark.ant-menu-inline .ant-menu-item,
                    .ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
                        width: 100%;
                        text-align: left;
                        padding-left: 0px;
                        font-size: 16px;
                    }

                    .ant-menu-dark .ant-menu-inline.ant-menu-sub {
                        background: none;
                        box-shadow: none;
                    }

                    .anticon {
                        font-size: 18px;
                    }
                }


            }

        }

        .sidebar_collapsed {
            @extend .sidebar;
            width: 80px;

            .toggle_container {
                @extend .toggle_container;
                margin-right: -64%;
            }

            .sidebar_content {
                .menu_items_container {
                    width: 100%;

                    .anticon {
                        font-size: 22px;
                    }
                }
            }
        }

        .content {
            width: 84%;

            @include media-tab {
                width: 100%;
                padding: 20px 6px;
            }

            @include media-mobile {
                width: 100%;
                padding: 20px 6px;
            }

            height: 100%;
            overflow-y: auto;
            padding: 0px 20px 50px 30px;
        }

        .content_collapsed {
            @extend .content;
            width: 96%;

            @include media-tab {
                width: 100%;

            }

            @include media-mobile {
                width: 100%;

            }
        }

    }

    .menu_hambuger {
        position: absolute;
        top: 6px;
        left: 8px;

        Button {
            height: 42px;
            width: 42px;
            padding: 0px;
            cursor: pointer;
            background-color: transparent;
        }

        .profile_icon {
            width: 80px;
            height: 80px;
            background-color: #efefef;
            border-radius: 100em;

            img {
                width: 80px;
                height: 80px;
                border-radius: 100em;
            }
        }

        .ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper {
            width: 300px !important;
        }

        .drawer-content-style {
            height: 100%;
            width: 120px;
            padding: 0px;
            background-color: $primaryColor !important;
        }

        .ant-drawer-body {
            height: 100%;
            width: 100%;
            padding: 10px !important;
        }


        .menu_container {
            height: 100%;
            width: 100%;
            background: $primaryColor;

        }

        @include media-desktop-sm {
            display: none;
        }

        @include media-desktop-lg {
            display: none;
        }
    }

    .logo_container {
        position: absolute;
        top: 6px;
        left: 0px;
        height: 50px;
        width: 16%;
        z-index: 10001;

        @include media-tab {
            top: 10px;
            left: 60px;
            height: 60px;
        }

        @include media-mobile {
            top: 10px;
            left: 60px;
            height: 60px;
        }
    }

}

.ant-drawer-close {
    color: #ffffff;
    font-size: 22px;
}

.ant-drawer-close:hover {
    color: #ffffff;
    font-size: 24px;
}