.map-legend {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.map-legend .legend {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
  height: 40px;
  padding-right:20px;
  color: #333333;
}

.map-legend .legend>div {
  margin-top: 3px;
  background-color: #ff00ff;
  border: 1px solid #9f9f9f;
  width: 12px;
  height: 12px;
}

.map-legend .legend .range1 {
  background-color: #2bad27;
}

.map-legend .legend .range2 {
  background-color: #95cf8f;
}

.map-legend .legend .range3 {
  background-color: #f3f56f;
}

.map-legend .legend .range4 {
  background-color: #f1a26d;
}

.map-legend .legend .range5 {
  background-color: #f84c4c;
}

.map-legend .legend .range6 {
  background-color: #ff000f;
}

.map-legend .legend .legend-label {
  padding-left: 4px;
  font-size: 12px;
}