@import '../../../styles/vars.scss';
@import '../../../styles/common.scss';

.Map {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    border: 1px solid #dadada;
}

.Map .mapContainer {
    width: 100%;
    min-height: 200px;
    padding: 10px;
}

.Map .mapContainer .content {
    width: 100%;
    display: flex;
    /* border-left: 1px solid #dadada; */
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 100px;
    margin-top: 120px;

    @include media-mobile {
        align-items: center;
        margin-top: 0px;
        padding: 0px 20px;
    }

    @include media-tab {
        align-items: center;
        margin-top: 0px;
        padding: 0px 20px;
    }
}

.Map .mapContainer .content .title {
    display: block;
    text-align: left;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
    //border-bottom: 2px solid #bababa;

    @include media-mobile {
        text-align: center;
        width: 80%;
    }

    @include media-tab {
        text-align: center;
        width: 80%;
    }
}

.Map .mapContainer .content .field {
    padding: 10px 0px;
    font-weight: bold;
}

.Map .mapContainer .content .value {
    font-weight: 500;
}

.Map .mapContainer .legendContainer .map-legend div {
    display: inline-block;
}

@media screen and (max-width: 991px) {
    .Map .mapContainer .legendContainer .map-legend {
        flex-direction: row;
        flex-flow: wrap;
        text-align: left;
    }

    .Map .mapContainer .legendContainer .map-legend .legend {
        //width: 200px;
        display: flex;
        justify-content: flex-start;
    }

    .Map .mapContainer .legendContainer .map-legend .legend div {
        display: inline-block;
        text-align: left;
    }
}

.legendLabel {
    font-size: 20px;
    padding-right: 20px;
    line-height: 60px;
}

.Map .mapContainer .map-tooltip {
    font-size: 12px;
    position: fixed;
    width: 160px;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 8px;
    color: #fff;
}

.Map .mapContainer .map-tooltip .tooltip-state {
    font-weight: bold;
    display: block;
}

.Map .mapContainer .map-tooltip .tooltip-arrow {
    position: absolute;
    bottom: -8px;
    left: 72px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(51, 51, 51, 0.8);
}