.SVG-Maps {
  width: 100%;
  height: auto;
  stroke: #000;
  stroke-width: 0px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.location {
  fill: #e0e0e0;
  cursor: pointer;
  }
.location:focus {
  outline: 0;
}

.location:hover {
  outline: 0;
  opacity: 0.8;
}
.location[aria-checked=true] {
  fill: #c2c1c1;
  opacity: 1;
}

.range1 {
  fill: #2bad27;
  cursor: pointer;
  }
.range1:focus {
  outline: 0;
}

.range1:hover {
  opacity: 0.8;
  outline: 0;
}
.range1[aria-checked=true] {
  fill: #ff00c8;
  opacity: 1;
}

.range2 {
  fill: #95cf8f;
  cursor: pointer;
  }
.range2:focus {
  outline: 0;
}

.range2:hover {
  opacity: 0.8;
  outline: 0;
}
.range2[aria-checked=true] {
  fill: #ff00c8;
}

.range3 {
  fill: #f3f56f;
  cursor: pointer;
  
}
.range3:focus {
  outline: 0;
}

.range3:hover {
  opacity: 0.8;
  outline: 0;
}
.range3[aria-checked=true] {
  fill: #ff00c8;
}
.range4 {
  fill: #f1a26d;
  cursor: pointer;
}
.range4:focus {
  outline: 0;
}

.range4:hover {
  opacity: 0.8;
  outline: 0;
}
.range4[aria-checked=true] {
  fill: #ff00c8;
}

.range5 {
  fill: #f84c4c;
  cursor: pointer;
  }
.range5:focus {
  outline: 0;
}

.range5:hover {
  opacity: 0.8;
  outline: 0;
}
.range5[aria-checked=true] {
  fill: #ff00c8;
}

.range6 {
  fill: #ff000f;
  cursor: pointer;
  }
.range6:focus {
  outline: 0;
}

.range6:hover {
  opacity: 0.8;
  outline: 0;
}
.range6[aria-checked=true] {
  fill: #ff00c8;
}

