@import '../../../styles/vars.scss';
@import '../../../styles/common.scss';


.module_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .outer_container {
        margin-top: 50px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .input{
            
            height: 40px;
            margin: 10px 0px;
            border: 1px solid #aeaeae;
            padding: 2px 10px;
            border-radius: 4px;
        }
        .quantity-container{
            display: flex;
            align-items: center;
            margin: 10px 0px;
            input{
                height: 40px;

            }
            .ant-select-selection--single{
               width: 160px;
            
             }
        
        }
    }
    .pricelist-container{
        .top-container{
            width: 100%;
            padding: 20px 0px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            //flex-wrap: wrap;
            label{
                display: inline-block;
                width: 50px;
            }
            @include media-mobile{
                padding: 10px 0px 20px 0px;
                flex-direction: column;
                align-items: flex-start;
            }
            .left-container{
                width: 50%;
                @include media-mobile{
                    width: 100%;
                    margin-left: 0px;
                    justify-content: space-between;
                    padding-top: 10px;
                }
                display: flex;
                justify-content: flex-start;
                align-items: center;
                //flex-wrap: wrap;
                .ant-select {
                    width: 160px;
                    margin: 10px 20px 10px 20px;
                    height: 32px;
                    border: none;
                    outline: none;
                    @include media-mobile{
                        width: 45%;
                        margin: 0px;
                    }
                    @include media-tab{
                        width: 140px;
                    }
                }
            }
            .right-container{
                width: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-wrap: wrap;
                @include media-mobile{
                    width: 100%;

                }
                .search{
                    width: 50%;
                    padding: 10px 0px;
                    margin-right: 20px;
                    @include media-mobile{
                        width: 100%;
                        margin: 10px 0px;

                    }
                }
                .button{
                    height: 32px;
                    padding: 0px 40px;
                    @include media-mobile{
                        width: 100%;
                    }
                    font-weight: 600;
                    text-transform: uppercase;

                }

            }

        }
        

    }
  
}
.row_container {
    width: 100%;
    padding: 20px 0px;
    .column_container{
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
    .sub_title{
        font-size: 20px;
        font-weight: 500;
        color: #222222;
        padding-bottom: 20px;
    }
}


// .ant-select-selection__placeholder{
//     top: 40%;
// }
// .ant-select-search__field__wrap{
//     height: 40px;
//     margin-top: 0px;
  
// }
// .ant-select-selection--single{
//     height: 40px;
// }
// .ant-select-combobox
// {
//     height: 40px !important;
// }
// .ant-input-number{
//     height: 40px;
//     margin: 0px 20px;
// }
